@import "../../index.scss";

// detailed cart

.cart {
  position: fixed;
  min-height: 10rem;
  max-height: 50vh;
  background: rgb(142, 123, 117);
  top: 0;
  right: 0;
  transition: all 1s ease;
  width: 25rem;
  padding: 2rem 1.5rem;
  z-index: 1;
  overflow-y: scroll;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  color: #fdcff3;
  border: none;
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.clear-btn {
  font-size: 1rem;
  color: $mainBlack;
  border: 0.1rem solid $mainBlack;
  &:hover {
    background: $mainBlack;
    color: $mainPink;
  }
}

.checkout-btn {
  font-size: 1rem;
  color: #fdcff3;
  border: 0.1rem solid #fdcff3;
  &:hover {
    background: $mainBlack;
    color: #fdcff3;
  }
}

//hidden cart

.cart-icon-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  &:hover .cart-btn {
    color: $mainYellow;
  }
}

.cart-btn {
  position: relative;
  color: $mainPink;
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.item-count {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 991px) {
  .cart-icon-container {
    margin-top: 7rem;
    margin-right: 1rem;
  }
}
