@import "../../index.scss";

.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient($yellowTrans, $yellowTrans),
    url(../../img/bg-banner.jpg) center/cover no-repeat fixed; //Photo by Ylanite Koppens from Pexels
  position: relative;
}

.banner {
  color: $mainWhite;
}
