@import "../../index.scss";

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler-icon {
  color: $mainPink;
  font-size: 2.5rem;
}

.nav-link {
  color: $mainPink;
  transition: all 1s ease-in-out;
  font-size: 1.5rem;
  &:hover {
    color: $mainBlack;
  }
}
